MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/dbname
PORT=5000
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d
cloud_name=your_cloudinary_cloud_name
api_key=your_cloudinary_api_key
api_secret=your_cloudinary_api_secret
RESEND_API_KEY=your_resend_api_key_here
EMAIL_FROM=JobBridge <onboarding@resend.dev>
